/* team icon style */
img.csicon
{
    position: relative;
    top: auto;
    padding: 2px;
    left: 2px;
    width: 25px;
}

body.xwpc_body {
	background-image: url(rasen_kl.jpg); 
	background-repeat: repeat;
	font-family: Helvetica,Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

table.xwpc_table {
	border-style:solid;
	border-width:2px;
	border-color: #ffffff;	
	margin:auto;
}

th.xwpc_th {
	background-color: #ffffcc;
	color: #000000;
	padding: 4px;
}

tr.xwpc_td {
		
}

td.xwpc_td {
	background-color: #ffffcc;
	color: #000000;
}

div.xwpc_wrap {
	abackground-color: #00CC66;
	padding: 15px;	
	margin: auto;
}

h3.xwpc_head {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-color: #ffffff;
}

h4.xwpc_head {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
